{% extends "base.html" %}
{% block title %}Category Archives: {{ category }} ❧ {{ SITENAME }}{% endblock %}
{% block body_class %}"archive"{% endblock %}
{% block content %}
<h2 class="page-title">Category Archives: {{ category }}</h2>
{% if articles %}
{% for article in articles_page.object_list %}
{% if loop.first %}
<div class="post p1">
{% else %}
<div class="post">
{% endif %}
  <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
  <div class="entry-date"><abbr class="published" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr></div>
  <div class="entry-content">{{ article.summary }}</div>
  <div class="entry-meta">
    {% if article.tags %}
    <span class="entry-tags">Tagged {% for tag in article.tags|sort %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{%if not loop.last %}, {% endif %}{% endfor %}</span>
    {% endif %}
  </div>
</div><!-- .post -->
  
{% endfor %}
{% endif %}
{% endblock content %}
