<div id="footer">
  {% if C_YEAR %}
  <span id="copyright">&copy; {{ C_YEAR }}</span>
  <span class="meta-sep">&para;</span>
  {% endif %}
  <span id="generator-link">Thanks <a href="https://blog.getpelican.com/" title="Pelican">Pelican</a>.</span>
  <span class="meta-sep">&para;</span>
  <span id="theme-link"><a href="http://www.plaintxt.org/wordpress.html#veryplaintxt" title="veryplaintxt theme for WordPress">veryplaintxt</a> modified by <span class="vcard"><a class="url fn n">Ivion</a></span>.</span>
  <span class="meta-sep">&para;</span>
  <span id="web-standards">It's nice <a href="http://validator.w3.org/check/referer" title="Valid HTML5">HTML5</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" title="Valid CSS">CSS</a>.</span>
</div><!-- #footer -->
